*{
    margin:0;
    padding:0.2rem;
}

.sellerForm{
    box-sizing: border-box;
    padding:2rem;
    border:1px solid black;
    display:flex;
    width:80%;
    /* margin:1rem auto 1rem; */
    
}

.seller-form--input__div{
    padding:1rem;
}
.seller-form--input__div input{
    width:50%
}
.seller-form--input--size-div{
    display:flex;
}
.seller-form--input--size-div input{
    width:20%
}