.product{
    display: flex;
    border:1px solid black;
    justify-content: space-evenly;
    padding:1rem;
    width:90%;
    margin-top: 2rem;
}

.product--details{
display: flex;
justify-content:space-between;
width:50%
}

.product--buttons{
    display: flex;
 justify-content: space-evenly;
 width:50%;
}